<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel</title>
</head>
<body>

<h2>Create Hostel</h2>

<form method="POST">
    Hostel Name:
    <input type="text" name="hostelname" required><br><br>

    Location:
    <input type="text" name="location" required><br><br>

    Capacity:
    <input type="number" name="capacity" required><br><br>

    <button type="submit">Create Hostel</button>
</form>

</body>
</html>